
.betInfoContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;   
    border: 1px solid grey;
    padding: 2em;
    margin: 1em;
}

.betInfoContainer > .betDetailContainer {
    flex-direction: column;
}